Repository DSC-iTC/cPP, pull requests merged in 2024-10, with the labels that each got.

#373 FCS_CKM_EXT diagram
  cPP_DSC.adoc
Labels: cPP

#379 Fix selection
  SD_DSC.adoc
Labels: cPP

#380 SDO.Conf wording consistency
  cPP_DSC.adoc
Labels: cPP

#375 FDP_DSC.2 EA
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#374 FCS_CKM_EXT.3 hidden requirement
  cPP_DSC.adoc
Labels: cPP, crypto

#383 FMT_MSA.3 SD consistency
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#391 FCS_STG_EXT.1 update
  cPP_DSC.adoc
Labels: cPP

#363 Publication date/version
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#394 DSC v2.0 publication
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD
