Repository DSC-iTC/cPP, pull requests merged in 2024-05, with the labels that each got.

#268 Allow FCS_COP.1/CMAC in places where FCS_COP.1/KeyedHash is allowed
  cPP_DSC.adoc
Labels: cPP, crypto

#286 ALC_FLR optional
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP

#287 FCS_CKM.2 reference
  cPP_DSC.adoc
Labels: cPP

#281 SD FPT review (mandatory)
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: SD

#285 FIA_SOS.2 update
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#288 CC References update
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD, CC:2022

#293 Split up tests for FDP_FRS_EXT.1
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#294 Align FDP_FRS_EXT.2 SFR text with tests
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#277 Dependencies changes for non-FCS_ SFRs
  cPP_DSC.adoc
Labels: cPP

#297 CC:2022 Errata update
  cPP_DSC.adoc
Labels: cPP, CC:2022

#290 FPT_ITT.1 test update
  SD_DSC.adoc
Labels: SD

#299 Update for FIA_UAU.5
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#298 FDP_ITC_EXT test wording + reference FDP_ITC_EXT.1.3
  SD_DSC.adoc
Labels: SD

#275 SD FIA review (mandatory requirements)
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: SD

#292 Add alternative test to FCS_CKM.6 to address #235
  SD_DSC.adoc
Labels: SD, crypto

#301 Update SD for FPT_PRO_EXT.1 to be slightly more consistent with cPP
  SD_DSC.adoc
Labels: SD

#305 Update FPT_PRO_EXT.2 and its test
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#303 Expand scope of FPT_ROT_EXT.2 and update tests
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD
