Repository DSC-iTC/cPP, pull requests merged in 2024-09, with the labels that each got.

#361 Update FCS_CKM_EXT.3 for SD
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD, crypto

#359 Proposed Draft version update
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD

#353 Proposed Crypto EA update
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: SD, crypto

#364 Update FCS_CKM.5 TSS EA
  SD_DSC.adoc
Labels: SD, crypto
