Repository DSC-iTC/cPP, pull requests merged in 2024-04, with the labels that each got.

#253 Section 2.2 changes
  cPP_DSC.adoc
Labels: cPP

#261 cPP typoes
  cPP_DSC.adoc
Labels: cPP, editorial

#254 Section 2.3 and 2.4 changes
  cPP_DSC.adoc
Labels: cPP

#255 Section 4 and 5 changes
  cPP_DSC.adoc
Labels: cPP

#265 FDP_SDC.2.1 hidden requirement
  cPP_DSC.adoc
Labels: cPP

#267 FDP_DSI.2 edit
  cPP_DSC.adoc
Labels: cPP

#276 SD FMT review (mandatory)
  SD_DSC.adoc
Labels: SD

#283 Section 2.4 update
  cPP_DSC.adoc
Labels: cPP, Introduction

#256 user/roles update
  cPP_DSC.adoc
Labels: cPP, Introduction

#266 SD updates for FDP (mandatory)
  SD_DSC.adoc
Labels: SD
