Repository DSC-iTC/cPP, pull requests merged in 2024-07, with the labels that each got.

#317 minor crypto updates
  cPP_DSC.adoc
Labels: crypto

#319 Add allowance to use PBKDF for password hashing
  cPP_DSC.adoc
Labels: cPP, crypto

#320 Fix typoes
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP

#321 PP structure is in Annex B, not Annex C
  cPP_DSC.adoc
Labels: cPP

#322 Add missing comma
  cPP_DSC.adoc
Labels: cPP

#323 Change e.g. starting sentence to For example
  cPP_DSC.adoc
Labels: cPP

#324 Fix occurences of FCS_CKM.1/SK, FCS_RBG_EXT, FCS_CKM_EXT.5, and FCS_COP.1/PBKDF
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP

#326 Remove unused identifier AK1
  cPP_DSC.adoc
Labels: cPP

#328 Explicitly require claiming /CMAC and /KeyWrap
  cPP_DSC.adoc
Labels: cPP

#330 Formatting consistency across FCS
  cPP_DSC.adoc
Labels: cPP

#331 Add missing hyphen
  cPP_DSC.adoc
Labels: cPP

#332 Fix typo in component number
  cPP_DSC.adoc
Labels: cPP

#333 Consistent grammar in R.AUTHDATA first sentence
  cPP_DSC.adoc
Labels: cPP

#329 Selection should be underlined rather than italic
  cPP_DSC.adoc
Labels: cPP

#336 FCS_CKM.5 app note edit
  cPP_DSC.adoc
Labels: cPP

#340 FCS_CKM_EXT.7 app note
  cPP_DSC.adoc
Labels: cPP

#339 Update cPP_DSC.adoc
  cPP_DSC.adoc
Labels: cPP

#338 example table
  cPP_DSC.adoc
Labels: cPP

#342 FCS_CKM.5 app note edit
  cPP_DSC.adoc
Labels: cPP, crypto

#343 table consistency update
  SD_DSC.adoc
Labels: SD
