Repository DSC-iTC/cPP, pull requests merged in 2024-08, with the labels that each got.

#316 edit FCS_RBG_EXT to FCS_RBG
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD, crypto

#345 Make ECD formatting consistent with CC:2022
  cPP_DSC.adoc
Labels: cPP, CC:2022

#346 Add FCS_CKM_EXT.8 selection
  cPP_DSC.adoc
Labels: cPP, crypto

#351 Remove Apple from list
  cPP_DSC.adoc
Labels: cPP

#354 Add definition of GCMP
  cPP_DSC.adoc
Labels: cPP

#356 Remove incorrect abbreviation
  cPP_DSC.adoc
Labels: cPP

#355 Consistent FIA_AFL_EXT.2 app note
  cPP_DSC.adoc
Labels: cPP

#350 App notes
  cPP_DSC.adoc
Labels: cPP, crypto

#352 FCS_CKM.2 changes
  SD_DSC.adoc
  cPP_DSC.adoc
Labels: cPP, SD, crypto

#360 Errata v1.1 update
  cPP_DSC.adoc
Labels: cPP, CC:2022

#357 updates to the dependency table
  cPP_DSC.adoc
Labels: cPP, crypto
